*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}
html body{
    height: 100%;
    width: 100%;
    
}

*::selection{
    background-color: #fff;
    color: #ACE022;
}


/*           NAVIGATON BAR          */
#nav{
    height: 130px;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 150px;
    gap: 50px;
    text-transform: uppercase;
    position: fixed;
    z-index: 99;
    cursor: pointer;
}
img{
    height: 75px;

}

/*     VIDEO        */
video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

/*       CONTENT      */
#main{
    background-color: rgba(0, 0, 0, 0.37);
    position: relative;
}

body::-webkit-scrollbar{
    display: block;
    background-color: #ACE022;
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: #fff;
    
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*      PICHE WALA SHADOW    */
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #111;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px #aaff0093;
    z-index: -1;
}
#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
    z-index: 10;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 10;

}
#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
    text-transform: capitalize;
}

#page1 .arrow{
    width: 180px;
    height: 180px;
    background: transparent;
    border: 2px solid #95C11E;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -2px;
    bottom: -2px;
    transition: all ease 0.5s;
    z-index: 9;
}

#page1 .arrow:hover{
    scale: 0.5;
    background-color: #ACE022;
}

#page1 .arrow i{
    font-size: 50px;
    font-weight: 100;
}

#page2{
    min-height: 100vh;
    width: 100%;
    
}

/*        CURSOR    */
#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(170, 255, 0);
    position: fixed;
    z-index: 999;
}
#cursor-blur{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #96c22e47;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}


/*         SCROLLER      */
#scroller{
    /*background-color: red;*/
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller-in{
    /*background-color: red;*/
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 42s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
#scroller::-webkit-scrollbar{
    display: none;
}

#scroller h4{
    display: inline-block;
    font-size: 120px;
    -webkit-text-stroke: 2px rgb(170, 255, 0);
    color: transparent;
    font-weight: 900;
    margin-right: 10px;
    font-family: gilroy;
    transition: all linear 0.3s;

}
#scroller h4:hover{
    color: rgb(170, 255, 0);
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}



#about-us{
    height: 40vh;
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    position: relative;
    z-index: 10;
}
#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 50%;
    text-align: center;
}
#about-us-in h3{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 40px;
    
}
#about-us-in p{
    font-size: 20px;
    line-height: 28px;
}

#cards-container{
  /*  background-color: red;*/
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
    padding-top: 45px;
    margin-top: 40px;
}
#cards-container img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: -1;
}
.rotatecards{
    height: 90%;
    width: 24%;
   /* background-color: blue;*/
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#cards1{
    background-image: url(./gallery/card4.jpg);
}
#cards2{
    background-image: url(gallery/umanoide-M559_jWJAkU-unsplash.jpg);
}
#cards3{
    background-image: url(gallery/courtney-cook-SsIIw_MET0E-unsplash.jpg);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #aaff00;
    padding: 30px;
    padding-top: 80px;
    text-align: center;
    border-radius: 20px;
    opacity: 0;
    transition: all ease 0.7s;
}
.rotatecards:hover .overlay{
    opacity: 1;
}

.rotatecards:hover{
    transform: rotate3d(-1,1,0,20deg);
}


.overlay h4{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
    white-space: nowrap;
    text-align: center;
}
.overlay p{
    color: #000;
    font-size: 18px;
}

#green-div{
    height: 26vh;
    display: flex;
    
    margin-top: 35px;
    background: linear-gradient(to left bottom, rgba(48, 204, 40, 0.453), #ACE022);
    text-align: center;
    justify-content: space-between;
}
#green-div h4{
    color: #000;
    width: 50%;
    margin-top: 57px;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 30px;
    font-weight: 900;
    line-height: 40px;
    
    
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}


#page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{
    font-size: 25px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 13%;
    top: 23%;
}
#page3 #colon2{
    right: 15%;
    bottom: 25%;
}


#page4{
    height: 30vh;
    width: 100%;
    background-color: rgb(17,17,17);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
}
#elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
#elem h2{
    height: 100%;
    width: 100%;
    background-color: #aaff00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #111;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    transition: all ease 0.6s;
    font-style: italic;
}
#elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: all ease 0.6s;
}
#elem:hover h2{
    color: #fff;
    background-color: transparent;
}
#elem:hover img{
    scale: 1;
}
#page4 h1{
    width: 100%;
    font-size: 60px;
    position: absolute;
    top: -70px;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    color: #111;
    -webkit-text-stroke: 2px #fff;
    
}

#footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119F3A, #ACE022);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
    transition: all ease 6s;
}

#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  /* background-color: red; */
}

#f1:hover{
    scale: 0.8;
}

#f2 h4 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }


#f3 h4 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
#f4 h6 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }

